.img{
    float: left;
    display: inline-block;
    object-fit: contain;
}
.imgcon{
    /* float: left; */
    /* display: inline-block; */
    background-color: #ffffff;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    height: 150px;
    
    

}
.bf{
    width: 160px;
    height: 150px;
}
.heading{
    color:#192f60;
    font-size: 2em;
    font-weight: 380;
    line-height: 1.5;

}
.des{
    color: #8c96ab;
}
@media(min-width:991px){
    .circle{
        max-width: 991px;
        
    }
}