.all-fonts{
    font-size:2em;
    font-weight: lighter;
}
    
    
.panel-fonts{
    
    font-size:2em;
    font-weight: lighter;
}
.panel-fonts2{
    font-size:1em;
    font-weight: 200;
}
.panel-fonts3{
    font-size:0.5em;
    font-weight: 400;
}